Новая транзакция:

{{> transaction}}

Для изменения даты - выбери одну из них ниже или введи ее текстом в формате ДД.ММ.ГГГГ
Для изменения категории - выбери одни из них или введи ее текстом
Для сохранения нажми "ОК", для отменя "Отмена"
